@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
:root{
    --background: #fffbf7;
    --foreground: #45372b;
    --accent: #df7020;

    --fira-code: "Fira Code";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fira-code);
    font-size: 12pt;
    font-weight: 400;
}

body{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}


main{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    border: solid var(--foreground) 2px;

    .header{
        display: flex;
        gap: 8pt;
    
        a{
            color: var(--foreground);
            font-weight: 600;
            border-bottom: 2px solid var(--foreground);
            text-decoration: none;
        }
    }
    
    .input_config{
        display: flex;
        flex-direction: column;
        gap: 13pt;

        header{
            display: flex;
            
            h1{
                padding: 6px;
                background-color: var(--accent);
                width: fit-content;
                color: var(--background);
                font-weight: 500;
            }

            .deco{
                background: repeating-linear-gradient(
                    to right,
                    var(--accent) 0px,
                    var(--accent) 2px,
                    transparent 2px,
                    transparent 8px
                );
                flex:1;
            }
        }

        .op{
            display: flex;
            flex-direction: column;
            padding: 28px;
            border: dashed var(--foreground) 2px;
            gap: 13pt;

            select{
                background-color: var(--background);
                outline: none;
                border: none;
            }
        }
    }

    .main_content{
        display: flex;
        flex-direction: column;
        gap: 13pt;

        header{
            display: flex;

            h1{
                padding: 6px;
                background-color: var(--accent);
                width: fit-content;
                color: var(--background);
                font-weight: 500;
            }
    
            .deco{
                background: repeating-linear-gradient(
                    to right,
                    var(--accent) 0px,
                    var(--accent) 2px,
                    transparent 2px,
                    transparent 8px
                );
                flex:1;
            }
        }

        .input_zone{
            display: flex;
            gap: 13px;

            input{
                background-color: transparent;
                flex: 1;
                border: none;
                outline: none;
                text-transform: uppercase;
            }
        }

        .out_zone{
            display: flex;
            gap: 13px;

            #outValue{
                background-color: var(--foreground);
                color: var(--background);
                padding: 6px;
                outline: none;
                border: none;
                flex: 1;
            }
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33px;
                height: 33px;
                background-color: var(--accent);
                border: none;
                outline: none;
                cursor: pointer;
                
                svg{
                    color: var(--background);
                }
            }
        }
    }
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
    
    a{
        color: var(--foreground);
        font-weight: 600;
        border-bottom: 2px solid var(--foreground);
        text-decoration: none;
    }
}

@media screen and (max-width: 500px) {
    main{ border: none; }
}